:root {
	/* Base color is always whatever the theme/extension gives us */
	--tab-base-color: var(--toolbar-bgcolor);

	/* Overlays = transparent black or white depending on text contrast */
	--tab-overlay-neutral: color-mix(in srgb, var(--toolbar-color) 5%, transparent);
	--tab-overlay-hover: color-mix(in srgb, var(--toolbar-color) 25%, transparent);
	--tab-overlay-active: color-mix(in srgb, var(--toolbar-color) 20%, transparent);

	/* Final colors you can use */
	--tab-color: var(--tab-overlay-neutral);
	--tab-hover-color: var(--tab-overlay-hover);
	--tab-active-color: var(--tab-overlay-active);
}

/* Sets tab appearance */
.tab-background {
	background-color: var(--tab-color);
	background-image: none !important;
	border-radius: var(--border-circle) !important;
	outline: none !important;
	box-shadow: none !important;
}

/* Toolbar icons - without radius mask */
.toolbarbutton-1 image {
    border-radius: 0 !important;
}

/* Rounded background for icons */
#nav-bar toolbarbutton,
#nav-bar .toolbarbutton-1 {
    border-radius: var(--border-circle) !important;
}

/* rounded hover / open / active */
#nav-bar toolbarbutton:hover,
#nav-bar toolbarbutton[open],
#nav-bar toolbarbutton:active {
    border-radius: var(--border-circle) !important;
    background-clip: padding-box !important;
}

/* Optional fix? */
#nav-bar .toolbarbutton-1:hover .toolbarbutton-icon,
#nav-bar .toolbarbutton-1[open] .toolbarbutton-icon,
#nav-bar .toolbarbutton-1:active .toolbarbutton-icon,
#nav-bar .toolbarbutton-1:hover .toolbarbutton-badge-stack,
#nav-bar .toolbarbutton-1[open] .toolbarbutton-badge-stack,
#nav-bar .toolbarbutton-1:active .toolbarbutton-badge-stack {
    border-radius: var(--border-circle) !important;
}

.tab-close-button {
	border-radius: var(--border-circle) !important;
}
/* rounded new tab icon */
#tabs-newtab-button image {
    border-radius: var(--border-circle) !important;
}

/* rounded new tab icon in navbar */
#nav-bar #new-tab-button image {
    border-radius: var(--border-circle) !important;
}

.tabbrowser-tab:hover:not([selected]):not([multiselected]) .tab-background {
	background-color: var(--tab-hover-color) !important;
}

.tab-background[selected],
.tab-background[multiselected] {
	background-color: var(--tab-active-color) !important;
}

#tabbrowser-tabs {
	--tab-loading-fill: AccentColor !important;
}

.titlebar-spacer[type="pre-tabs"] {
	width: 15px !important;
}

body:has(.tabbrowser-tab):not(:has(#vertical-tabs .tabbrowser-tab)) .tabbrowser-tab {
	padding-inline: 4px !important;
}

#vertical-tabs {
	padding: 0 2px !important;
}

body:has(#vertical-tabs #tabs-newtab-button) #tabs-newtab-button {
	margin-top: 4px !important;
	border-radius: var(--border-circle) !important;
}
